body,
html {
  padding: 0 10px;
  margin: 0;
  background-image: url('http://mlb.mlb.com/mlb/images/devices/ballpark/1920x1080/1.jpg');
  background-size: cover;
  color: #ecf0f1;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
* {
  box-sizing: border-box;
}
h1,
p {
  text-align: center;
}
p {
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.contain {
  width: 100%;
}

.container {
  margin-left: 130px;
}

.row {
  width: 100%;
}
.row__inner {
  -webkit-transition: 450ms transform;
  transition: 450ms transform;
  font-size: 0;
  white-space: nowrap;
  margin: 70.3125px 0;
  padding-bottom: 10px;
}
.tile {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 140.625px;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: 450ms all;
  transition: 450ms all;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.tile__img {
  width: 250px;
  height: 140.625px;
  -o-object-fit: cover;
     object-fit: cover;
}

/*.tile__details:after,
.tile__details:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: #000;
}*/

/*.tile:hover .tile__details {
  opacity: 1;
}*/
/*.tile__title {
  position: absolute;
  bottom: 0;
  padding: 10px;
}*/

.row__inner:hover {
  -webkit-transform: translate3d(-125px, 0, 0);
          transform: translate3d(-125px, 0, 0);
}
.row__inner:hover .tile {
  opacity: 0.3;
}
.row__inner:hover .tile:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
  opacity: 1;
}
.tile:hover ~ .tile {
  -webkit-transform: translate3d(250px, 0, 0);
          transform: translate3d(250px, 0, 0);
}

.game_title {
  color: rgba(0, 0, 0, 0.1);
  text-align: center;
}

.tile:hover .game_title {
  color: rgba(255, 255, 255, 0.8);

}

.game_description {
  color: rgba(0, 0, 0, 0.0);
  text-align: center;
  transition: color 5s 0.1s;
}

.tile:hover .game_description {
  color: rgba(255, 255, 255, 0.8);
}

.heading_header {
  margin-bottom: 200px;
  font-size: 80px;
  color: white;
}
